<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Beylands Admin</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="public/css/style.css"> -->
    <link rel="stylesheet" href="public/css/orders.css">
    <link rel="stylesheet" href="public/css/index.css">

    <link rel="stylesheet" href="public/css/products.css">

    <script type="text/javascript" src="public/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="public/js/bootstrap.bundle.js"></script> -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans" rel="stylesheet">

    </body>
</head>

<body>
    <%if(email == "companybeylands@gmail.com"){%>
    <div class="logout-popup" id="logout-popupID">
        <div class="blocker" onclick="hidePopup()"></div>
        <div class="content">
            <img src="<%= picture%>" alt="" class="responsive-img">
            <br>
            <%= userName%>
            <p class="text-muted">
                <%= email%>
            </p>
            <strong>ADMIN</strong>
            <hr>
            <a href="/logout">
                <div class="btn btn-slight logout-popup-btn">
                    LOGOUT
                </div>
            </a>
        </div>

    </div>
    <%}else{%>
    <div class="logout-popup" id="logout-popupID">
        <img src="<%= picture%>" alt="" class="responsive-img">
        <br>
        <%= userName%>
        <p class="text-muted">
            <%= email%>
        </p>
        <strong>USER</strong>
        <hr>
        <a href="/logout">
            <div class="btn btn-slight logout-popup-btn">
                LOGOUT
            </div>
        </a>
    </div>
    <%}%>  
    <div class="header">
        <div class="logos">
            <div class="logos-word">
                <h1>BEY<span>LANDS</span><sub>ADMIN</sub></h1>
            </div>
        </div>
        <div class="popup" onclick="showPopup()">
            <img src="<%= picture %>" alt="" class="email-picture" id="email-pictureID">
    </div>
    </div>
    <div class="wrapper">
        <div class="side-container">
            <a href="">
                <div class="btn-dash" id="dashID" style="background: #99ffc2; color: #01976F;">
                    dashboard
                </div>
            </a>
            <a href="/orders">
                <div class="btn-orders" id="ordersID">
                    Orders

                </div>
            </a>
            <a href="#">
                <div class="btn-product" id="productID">
                    products
                </div>
            </a>
            <div class="btn-product-overlay" id="btn-product-overlayID">
                <hr style="margin-left: -15px;">

                <a href="/show-product">
                    <div class="btn-product-overlay-1" id="show-productID">
                        <div class="text">
                            Show Products
                        </div>
                    </div>
                </a>
                <a href="/manage-attributes">
                    <div class="btn-product-overlay-2" id="show-manageID">
                        <div class="text">
                            Manage Attributes
                        </div>
                    </div>
                </a>
                <hr style="margin-left: -15px;">
            </div>
        </div>
        <div class="main-container">
            <div class="dash-content">
                <center>
                    <div class="row container-fluid">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                            <div class="card bg-primary">
                                <%if(orders.length >0){%>
                                <div class="text_dash">
                                    <u>
                                        <%= orders.length %>
                                    </u>
                                </div>
                                <%}else{%>
                                <div class="text_dash">
                                    <u>
                                        0
                                    </u>
                                </div>
                                <%}%>
                     <div class="card-body_dash">
                         ORDERS
                     </div>
                </div>
                <br>
                </div>
         
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                <div class="card bg-light">                
                      <%if(typeof(currentValue[0]) != 'undefined') {%>
                                <div class="text_dash">
                                    <u>
                                        <%= currentValue[0].total %>
                                    </u>
                                </div>
                                <%}else{%>
                                <div class="text_dash">
                                    <u>
                                        0
                                    </u>
                                </div>
                                <%}%>
                     <div class="card-body_dash">
                         STOCK CURRENT VALUE
                     </div>
                </div>
                <br>
                </div>
         
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                <div class="card bg-warning">
                    
                    <div class="text_dash">
                        <u>
                            <%= zeroStocks %>
                                </u>
                            </div>
                            <div class="card-body_dash">
                                ZERO STOCK PRODUCTS
                            </div>
                        </div>
                        <br>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">

                        <div class="card bg-secondary">

                            <div class="text_dash">
                                <u>
                                    <%= db.length %>
                                </u>
                            </div>
                            <div class="card-body_dash">
                                PRODUCTS
                            </div>
                        </div>

                    </div>
                </center>
            </div>
        </div>




    </div>
    </div>

    <script src="/public/js/admin-page.js"></script>


</body>

</html>