<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Beylands Admin</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="public/css/style.css"> -->
    <link rel="stylesheet" href="public/css/index.css">
    <link rel="stylesheet" href="public/css/orders.css">
    <link rel="stylesheet" href="public/css/products.css">
    <script type="text/javascript" src="public/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="public/js/bootstrap.bundle.js"></script> -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans" rel="stylesheet">
    </body>
</head>

<body>
    <%if(email == "companybeylands@gmail.com"){%>
    <div class="logout-popup" id="logout-popupID">
        <div class="blocker" onclick="hidePopup()"></div>
        <div class="content">
            <img src="<%= picture%>" alt="" class="responsive-img">
            <br>
            <%= userName%>
            <p class="text-muted">
                <%= email%>
            </p>
            <strong>ADMIN</strong>
            <hr>
            <a href="/logout">
                <div class="btn btn-slight logout-popup-btn">
                    LOGOUT
                </div>
            </a>
        </div>

    </div>
    <%}else{%>
    <div class="logout-popup" id="logout-popupID">
        <img src="<%= picture%>" alt="" class="responsive-img">
        <br>
        <%= userName%>
        <p class="text-muted">
            <%= email%>
        </p>
        <strong>USER</strong>
        <hr>
        <a href="/logout">
            <div class="btn btn-slight logout-popup-btn">
                LOGOUT
            </div>
        </a>
    </div>
    <%}%>  
    <!-- MODALS -->
     <%  orders.forEach(function (item){ %>
    <div class="modal fade" tabindex="-1" role="dialog" id="showOrder">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><strong>Show</strong> Item/s</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="show_list">
                        <% for (var i = 0; i < item.length; i++) { %>
                        <%= item[i].cart.items %>
                        <%}%>
                    </div>

                </div>
                <div class="modal-footer">
                    <a href="/show-product">
                        <button type="submit" class="btn btn-primary">Add Product</button>
                    </a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <%})%>
                        <div class="header">
                            <div class="logos">
                                <div class="logos-word">
                                    <h1>BEY<span>LANDS</span><sub>ADMIN</sub></h1>
                                </div>
                            </div>
                            <div class="popup" onclick="showPopup()">
                                <img src="<%= picture %>" alt="" class="email-picture" id="email-pictureID">
                            </div>

                        </div>
                        <div class="wrapper">
                            <div class="side-container">
                                <!-- DASHBOARD -->
                                <a href="/dashboard" class="active">
                                    <div class="btn-dash" id="dashID">
                                        dashboard
                                    </div>
                                </a>
                                <!-- ORDERS -->
                                <a href="">
                                    <div class="btn-orders" id="ordersID" style="background: #99ffc2; color: #01976F;">
                                        Orders
                                    </div>
                                </a>
                                <!-- PRODUCT -->

                                <div class="btn-product" id="productID">
                                    products
                                </div>

                                <div class="btn-product-overlay" id="btn-product-overlayID">
                                    <hr style="margin-left: -15px;">
                                    <a href="/show-product">
                                        <div class="btn-product-overlay-1" id="show-productID">
                                            <div class="text">
                                                Show Products
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/manage-attributes">
                                        <div class="btn-product-overlay-2" id="show-manageID">
                                            <div class="text">
                                                Manage Attributes
                                            </div>
                                        </div>
                                    </a>
                                    <hr style="margin-left: -15px;">

                                </div>

                            </div>

                            <div class="main-container">
                                <div class="order-content-btn">
                                    <a href="">
                                        <button type="button" class="btn btn-secondary orderBTN">
                                            ORDERS
                                        </button>
                                    </a>
                                    <a href="/order-list">
                                        <button type="button" class="btn btn-primary orderBTN">
                                            ORDERS LIST
                                        </button>
                                    </a>

                                </div>
                                <div class="order-content" id="order-contentID">
                                    <%  if(orders.length > 0){ %>
                                    <%  orders.forEach(function (items){ %>
                                    <div class="order-content-info">
                                        <div class="card bg-light mb-0">
                                            <div class="card-body">
                                                <div class="row container-fluid">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                                        <div class="card-body-customerInfo">
                                                            <div class="text">
                                                                Customer Info
                                                            </div>
                                                            <hr>
                                                            <section class="section-cust-info">
                                                                <div class="p-s">
                                                                    <label for="name">
                                                                        Name:
                                                                    </label>

                                                                    <span class="cust_info"
                                                                        style="text-transform: capitalize;"><%= items.name %></span>
                                                                </div>
                                                                <div class="p-s">
                                                                    <label for="email">
                                                                        Email:
                                                                    </label>
                                                                    <span class="cust_info"
                                                                        style="text-transform: none;"><%= items.email %></span>
                                                                </div>
                                                                <div class="p-s">
                                                                    <label for="number">
                                                                        Contact No.:
                                                                    </label>
                                                                    <span class="cust_info"><%= items.contact %></spa>
                                                                </div>
                                                                <div class="p-s">
                                                                    <label for="number">
                                                                        Address:
                                                                    </label>
                                                                    <span class="cust_info"
                                                                        style="text-transform: capitalize;"><%= items.address %>
                                                                        </spa>
                                                                </div>
                                                                <div class="p-s">
                                                                    <label for="number">
                                                                        Receive:
                                                                    </label>
                                                                    <%if(items.receive == 'Delivery'){%>
                                                                    <span class="cust_info text-danger">
                                                                        <strong>
                                                                            <%= items.receive %>
                                                                        </strong>
                                                                    </span>
                                                                    <%}else{%>
                                                                    <span class="cust_info text-info">
                                                                        <strong>
                                                                            <%= items.receive %>
                                                                        </strong>
                                                                    </span>
                                                                    <%}%>
                                                            
                                                        </div>
                                                    </section>
                                                </div>
                                                </div>
                                                   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                                <div class="card-body-totalItems">
                                                    <div class="text">
                                                        Item/s
                                                    </div>
                                                    <hr>
                                                    <table class="table" style="width: 100%;">
                                                        <tbody>
                                                            <%for(let i = 0; i <= items.productName.length;i++){%>
                                                                    <tr>
                                                                        <td>
                                                                            <%= items.productName[i]%>
                                                                        </td>
                                                                        <td>
                                                                            <%= items.productQty[i]%>
                                                                        </td>
                                                                    </tr>
                                                                    <%}%>
                                                        </tbody>
                                                        </table>
                                                </div>
                                                </div>
                                                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                                <div class="card-body-action">
                                                    <div class="text">
                                                        Action
                                                    </div>
                                                    <hr>
                                                    <div class="cust_action">
                                                            <form action="/orders/ready/<%=items._id%>" method="POST">
                                                                    <button type=" button" class="btn btn-success"
                                                                        data-item-id="<%= items.id %>">
                                                                        Ready
                                                                    </button>
                                                                    </form>
                                                                </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <%})%>
                                    <%}else{%>
                                    <div class="alert alert-warning" role="alert"
                                        style="width: 90%; margin:2rem auto auto auto; text-align: center;">
                                        <strong> NO ORDERS YET</strong>
                                    </div>
                                    <%}%>
            </div>
        </div>
    </div>
    </div>

    <script src="/public/js/admin-page.js"></script>


</body>

</html>