<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Beylands Admin</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/showProduct.css">
    <link rel="stylesheet" href="public/css/index.css">
    <link rel="stylesheet" href="public/css/orders.css">
    <link rel="stylesheet" href="public/css/products.css">
    <script type="text/javascript" src="public/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="public/js/bootstrap.bundle.js"></script> -->

    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans" rel="stylesheet">
    </body>
</head>

<body>
    <div class="header">
        <div class="logos">
            <div class="logos-word">
                <h1>BEY<span>LANDS</span><sub>ADMIN</sub></h1>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="side-container">
            <!-- DASHBOARD -->
            <a href="/dashboard">
                <div class="btn-dash" id="dashID">
                    dashboard
                </div>
            </a>
            <hr>
            <!-- ORDERS -->
            <a href="/orders">
                <div class="btn-orders" id="ordersID">
                    Orders
                </div>
            </a>
            <hr>
            <!-- PRODUCT -->
            <div class="btn-product" id="productID">
                products
            </div>
            <hr>
            <div class=" btn-product-overlays" id="btn-product-overlayID">
                <!-- OVERLAY SHOW PRODUCT -->
                <a href="/show-product">
                    <div class="btn-product-overlay-1" id="show-productID">
                        <div class="text">
                            Show Products
                        </div>
                    </div>
                </a>
                <!-- OVERLAY MANAGE PRODUCT -->
                <a href="#">
                    <div class="btn-product-overlay-2" id="show-manageID">
                        <div class="text">
                            Manage Attributes
                        </div>
                    </div>
                </a>
                <hr style="margin-left: -15px;">
            </div>

            <a href="/logout">
                <div class="btn-logout" id="logoutID">
                    logout
                </div>
            </a>
        </div>
        <!-- CONTENT -->
        <div class="main-container">
            <div class="product-content" id="product-contentID">
                Show Product
                <div class="btn-list">

                    <div class="btn-list-ARU">
                        <!-- MODAL FOR ADDING PRODUCT -->
                        <div class="modal fade" tabindex="-1" role="dialog" id="addModal">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Modal body text goes here.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                            Add Product
                        </button>
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#addModal">
                            Edit Product
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#addModal">
                            Remove Product
                        </button>
                    </div>
                    <div class="print-export" style="text-align:end;">
                        <button>
                            PRINT
                        </button>
                        <button>
                            EXPORT
                        </button>
                    </div>
                </div>
                <hr>
                <div class="list-items">

                    <table class="table table-sm table-striped" id="display-table">
                        <thead>
                            <tr>
                                <th scope="col">name</th>
                                <th scope="col">price</th>
                                <th scope="col">stocks</th>
                                <th scope="col">size</th>
                                <th scope="col">color</th>
                                <th scope="col">category</th>
                                <th scope="col">description</th>
                                <th scope="col">Date Modified</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% for (var i = 0; i < db.length; i++) { %>
                            <tr id="data-table" onclick="edit_func(this)">
                                <td> <%= db[i].name %> </td>
                                <td> <%= db[i].price %> </td>
                                <td> <%= db[i].stocks %> </td>
                                <td> size</td>
                                <td> color </td>
                                <td> <%= db[i].category %> </td>
                                <td><%= db[i].description %></td>
                                <td>DATE</td>
                            </tr>
                            <% } %>

                        </tbody>

                    </table>
                </div>
            </div>


        </div>
    </div>

    <script src="/public/js/admin-page.js"></script>
    <script>
        // FOR TABLE UI
        $(document).ready(function () {
            $('#display-table').DataTable({
                "pagingType": "simple_numbers"
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>

</body>

</html>