<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Beylands Admin</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/showProduct.css">
    <link rel="stylesheet" href="public/css/index.css">
    <link rel="stylesheet" href="public/css/orders.css">
    <link rel="stylesheet" href="public/css/products.css">
    <script type="text/javascript" src="public/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="public/js/bootstrap.bundle.js"></script> -->

    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans" rel="stylesheet">
    </body>
</head>

<body>
    <div class="header">
        <div class="logos">
            <div class="logos-word">
                <h1>BEY<span>LANDS</span><sub>ADMIN</sub></h1>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="side-container">
            <!-- DASHBOARD -->
            <a href="/dashboard">
                <div class="btn-dash" id="dashID">
                    dashboard
                </div>
            </a>
            <hr>
            <!-- ORDERS -->
            <a href="/orders">
                <div class="btn-orders" id="ordersID">
                    Orders
                </div>
            </a>
            <hr>
            <!-- PRODUCT -->
            <div class="btn-product" id="productID">
                products
            </div>
            <hr>
            <div class=" btn-product-overlays" id="btn-product-overlayID">
                <!-- OVERLAY SHOW PRODUCT -->
                <a href="/show-product">
                    <div class="btn-product-overlay-1" id="show-productID">
                        <div class="text">
                            Show Products
                        </div>
                    </div>
                </a>
                <!-- OVERLAY MANAGE PRODUCT -->
                <a href="#">
                    <div class="btn-product-overlay-2" id="show-manageID">
                        <div class="text">
                            Manage Attributes
                        </div>
                    </div>
                </a>
                <hr style="margin-left: -15px;">
            </div>

            <a href="/logout">
                <div class="btn-logout" id="logoutID">
                    logout
                </div>
            </a>
        </div>
        <!-- CONTENT -->
        <div class="main-container">
            <div class="product-content" id="product-contentID">
                <!--SECTION FOR MODALS -->
                <section>
                    <!-- MODAL FOR ADDING PRODUCT -->
                    <div class="modal fade" tabindex="-1" role="dialog" id="addModal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"><strong>Add</strong> Product</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="/show-product/add" method="POST" autocomplete="off"
                                    enctype="multipart/form-data">
                                    <!-- enctype="multipart/form-data" -->
                                    <div class="modal-body">
                                        <!-- FOR IMAGE -->
                                        <div class="form-group">
                                            <label for="image">Upload Image</label>
                                            <br>
                                            <input type="file" class="form-control-file" name="image" id="image">

                                        </div>
                                        <!-- FOR PRODUCT NAME -->
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="productName"
                                                id="productNameID" placeholder="Product Name" data-toggle="tooltip"
                                                data-placement="top" title="Product Name">
                                        </div>
                                        <!-- FOR PRICE AND STOCKS -->
                                        <div class="form-group p-s">
                                            <input type="number" min="0" class="form-control" name="price" id="priceID"
                                                placeholder="Price" data-toggle="tooltip" data-placement="top"
                                                title="Price">
                                            <input type="number" min="0" class="form-control" name="stocks"
                                                id="stocksID" placeholder="Stocks" data-toggle="tooltip"
                                                data-placement="top" title="Stocks">
                                        </div>
                                        <!-- FOR SIZES AND COLOR
                                        <div class="form-group p-s">
                                            <select class="form-control" id="sizeID" name="size" data-toggle="tooltip"
                                                data-placement="top" title="Size">
                                                <option value="" selected disabled>Size</option>
                                                <option value="N/A">N/A</option>
                                                <option value="S">S</option>
                                                <option value="M">M</option>
                                                <option value="L">L</option>
                                            </select>
                                            <select class="form-control" id="colorID" name="color" data-toggle="tooltip"
                                                data-placement="top" title="Color">
                                                <option value="" selected disabled>Color</option>
                                                <option value="N/A">N/A</option>
                                                <option value="Red">Red</option>
                                                <option value="Blue">Blue</option>
                                                <option value="Green">Green</option>
                                            </select>
                                        </div> -->
                                        <!-- FOR CATEGORY -->
                                        <div class="form-group">
                                            <select class="form-control" id="categoryID" name="category"
                                                data-toggle="tooltip" data-placement="top" title="Category">
                                                <option value="" selected disabled>Category</option>
                                                <option value="Janitorial Supplies">Janitorial Supplies</option>
                                                <option value="Cleaning Materials">Cleaning Materials</option>
                                                <option value="Cleaning Equipment">Cleaning Equipment</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" rows="5" id="descriptionID"
                                                placeholder="Description" name="description"></textarea>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <a href="/show-product">
                                            <button type="submit" class="btn btn-primary">Add Product</button>
                                        </a>
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL FOR EDITING PRODUCT -->
                    <div class="modal fade" tabindex="-1" role="dialog" id="editModal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"><strong>Edit</strong> Product</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="/show-product/edit" method="POST" autocomplete="off"
                                    enctype="multipart/form-data">

                                    <div class="modal-body">
                                        <div class="GFGclass" id="divGFG">
                                            <!-- EMPTY FOR PRINTING THE DATA IN DATABASE -->
                                        </div>
                                    </div>
                                    <div class="modal-footer">

                                        <button type="submit" id="btn-editID" class="btn btn-warning">Save
                                            Changes</button>

                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- MODAL FOR DELETING PRODUCT -->
                    <div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"><strong>Delete</strong> Product</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="/show-product/delete" method="POST" autocomplete="off">
                                    <!-- enctype="multipart/form-data" -->
                                    <div class="modal-body">
                                        <div class="GFGclass" id="delete-modalID">
                                            <!-- EMPTY FOR PRINTING THE DATA IN DATABASE -->

                                        </div>
                                    </div>
                                    <div class="modal-footer">

                                        <button type="submit" id="btn-editID" class="btn btn-danger">Yes</button>

                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- END MODAL -->
                </section>
                <div class="btn-list">
                    <div class="btn-list-ARU">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                            Add Product
                        </button>
                    </div>
                    <div class="print-export" style="text-align:end;">
                        <button id="printID">
                            PRINT

                        </button>
                        <button>
                            EXPORT
                        </button>
                    </div>
                </div>

                <!-- Show Product -->
                <div class="list-items">
                    <table class="table table-sm table-bordered table-striped" id="display-table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Img</th>
                                <th scope="col">product name</th>
                                <th scope="col">price</th>
                                <th scope="col">stocks</th>
                                <th scope="col">category</th>
                                <th scope="col">description</th>
                                <th scope="col">Date Modified</th>
                                <th scope="col">action</th>

                            </tr>
                        </thead>
                        <tbody>

                            <% for (var i = 0; i < db.length; i++) { %>

                            <tr id="data-table">
                                <td class="tb-id"> <%= db[i]._id %> </td>
                                <td class="tb-image"> <%= db[i].image  %> </td>
                                <td class="tb-name"> <%= db[i].name %> </td>
                                <td class="tb-price"> <%= db[i].price %> </td>
                                <td class="tb-stocks"> <%= db[i].stocks %> </td>
                                <td class="tb-category"> <%= db[i].category %> </td>
                                <td class="tb-description"><%= db[i].description %></td>
                                <td><%= db[i].date  %> </td>

                                <td>
                                    <button class="action" data-toggle="modal" data-target="#editModal"
                                        style="background: transparent; border: none;">
                                        <img src="/public/Image/editIcon.png" alt="EDIT" srcset="">
                                    </button>
                                    <button class="action" data-toggle="modal" data-target="#deleteModal"
                                        style="background: transparent; border: none;">
                                        <img src="/public/Image/deleteIcon.png" alt="REMOVE" srcset="">
                                    </button>
                                </td>
                            </tr>
                            <% } %>


                        </tbody>

                    </table>
                </div>
            </div>


        </div>
    </div>

    <script src="/public/js/admin-page.js"></script>

    <script>
        // FOR TABLE UI
        $(document).ready(function () {
            $('#display-table').DataTable({
                "paging": false,
                "scrollY": "60vh",
                "scrollCollapse": true,
            });
            $('.dataTables_length').addClass('bs-select');

        });

        // MODALS
        $(function () {
            // ON SELECTING ROW 
            $(".action").click(function () {
                //FINDING ELEMENTS OF ROWS AND STORING THEM IN VARIABLES 
                var id =
                    $(this).parents("tr").find(".tb-id").text().trim();
                var image =
                    $(this).parents("tr").find(".tb-image").text().trim();
                var name =
                    $(this).parents("tr").find(".tb-name").text().trim();
                var price =
                    $(this).parents("tr").find(".tb-price").text().trim();
                var stocks =
                    $(this).parents("tr").find(".tb-stocks").text().trim();
                // var size =
                //     $(this).parents("tr").find(".tb-size").text().trim();
                // var color =
                //     $(this).parents("tr").find(".tb-color").text().trim();
                var category =
                    $(this).parents("tr").find(".tb-category").text().trim();
                var description =
                    $(this).parents("tr").find(".tb-description").text().trim();
                var p = "";
                var for_delete = "";


                // CREATING DATA TO SHOW ON MODEL 
                p +=
                    `<div class="form-group">   
                        <center>  
                        <div class="imgclass">
                        <img src="/public/uploads/${image}" alt=${name}>
                        </div>
                        </center>
                        <br>
                        <input type="file" class="form-control-file"
                            name="image" id="image" value=${image}>
                       
                        
                    </div>`
                p +=
                    `<div class="form-group">
                          <input type="text" class="form-control" name="id" id="idID"
                              placeholder="ID" data-toggle="tooltip" data-placement="top" title="ID"
                              value="${id}" readonly>
                      </div>`

                p +=
                    `<div class="form-group">
                        <input type="text" class="form-control" name="productName" id="productNameID"
                            placeholder="Product Name" data-toggle="tooltip" data-placement="top" title="Product Name" value="${name}">
                    </div>`

                p +=
                    `<div class="form-group p-s">
                        <input type="number" min="0" class="form-control" name="price" id="priceID"
                            placeholder="${price}"
                            data-toggle="tooltip" data-placement="top" title="Price" value="0">
                            
                        <input type="number" class="form-control" name="stocks" id="stocksID"
                            placeholder="${stocks}"
                            data-toggle="tooltip" data-placement="top" title="Stocks" value="0">
                    </div>`
                // p +=
                //     ` <div class="form-group p-s">
                //         <select class="form-control" id="sizeID" name="size" data-toggle="tooltip" data-placement="top"
                //             title="Size">
                //             <option value="${size}" selected="selected">${size}</option>
                //             <option value="N/A">N/A</option>
                //             <option value="S">S</option>
                //             <option value="M">M</option>
                //             <option value="L">L</option>
                //         </select>
                //         <select class="form-control" id="colorID" name="color" data-toggle="tooltip"
                //             data-placement="top" title="Color">
                //             <option value="${color}" selected="selected">${color}</option>
                //             <option value="N/A">N/A</option>
                //             <option value="Red">Red</option>
                //             <option value="Blue">Blue</option>
                //             <option value="Green">Green</option>
                //         </select>
                //     </div>`;
                p +=
                    ` <div class="form-group">
                        <select class="form-control" id="categoryID" name="category" data-toggle="tooltip"
                            data-placement="top" title="Category">
                            <option value="" selected disabled>${category}</option>
                            <option value="Janitorial Supplies">Janitorial Supplies</option>
                            <option value="Cleaning Materials">Cleaning Materials</option>
                            <option value="Cleaning Equipment">Cleaning Equipment</option>
                        </select>
                    </div>`;

                p +=
                    ` <div class="form-group">
                        <textarea class="form-control" rows="5" id="descriptionID" placeholder="Description"
                            name="description">${description}</textarea>
                    </div>`

                for_delete +=
                    ` <center>
                        <div class="imgclass">
                            <img src="/public/uploads/${image}" alt=${name}>
                        </div>
                    </center>
                    <label for="id">ID</label>
                    <div class="form-group">
                         <input type="text" class="form-control" name="id" id="idID" placeholder="ID"
                             data-toggle="tooltip" data-placement="top" title="ID" value="${id}" readonly>
                     </div>
                        <label for="name">Product Name</label>
                     <div class="form-group">
                         <input type="text" class="form-control" name="name" id="productNameID" placeholder="${name}"
                             data-toggle="tooltip" data-placement="top" title="Product Name" value="${name}" readonly>
                     </div>
                        <label for="category">Category</label>
                     <div class="form-group">
                         <input type="text" class="form-control" name="category" id="categoryID" placeholder="${category}"
                             data-toggle="tooltip" data-placement="top" title="Category" value="${category}" readonly>
                     </div>
                     <center style="color:red;">NOTE: This process will permanently delete this record.<br>Are you sure you?</center>
                     `

                //CLEARING THE PREFILLED DATA 
                $("#divGFG").empty();
                $("#delete-modalID").empty();
                //WRITING THE DATA ON MODEL 
                $("#divGFG").append(p);
                $("#delete-modalID").append(for_delete);
            });
        });
    </script>
</body>

</html>